.sidebar{
    position: fixed;
    background-color: white;
    left: 0;
    top: 57px;
    width: 72px;
    bottom: 0;
    z-index: 2;
}

.sidebar-links{
    height: 72px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.sidebar-links:hover{
    background-color: rgb(230, 229, 229);
}

.sidebar-links img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-links div{
    font-family: Roboto, Arial;
    font-size: 10px;
    color: black;
}